:root {
  --color-font: #505050;

  --border-radius: 12px;
  --border-radius-low: 4px;
  --border-radius-high: 20px;

  --time-transition: 0.3s;
  --time-transition-low: 0.15s;
  --time-transition-high: 0.75s;
}
