.m-menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  &__title {
    margin: 0 8px !important;
    margin-top: 2px !important;
    font-size: 1.1rem;
    font-weight: bold;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
