@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa:wght@300;400;500;600;700&display=swap");

@import "./variables.scss";

@import "./animation.scss";
@import "./layout.scss";
@import "./m-table.scss";
@import "./m-menu.scss";
@import "./m-editor.scss";
@import "./m-legend.scss";

body,
body * {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

.m-container-plus {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.m-path {
  padding: 6px 8px;
  padding-top: 0;
  color: #7a7a7a;
  font-size: 0.9rem;

  display: flex;
  align-items: center;

  &__icon {
    margin: 0 4px;
    color: #5553ff;
  }

  &__name {
    padding: 4px 10px;
    border-radius: 4px;
    transition: 0.3s;

    &--link {
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #e4e4e4;
      }
    }
  }
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(224, 223, 223);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}

// Medium devices (tablets, 768px and up)
@media (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {
  html {
    font-size: 91%;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  html {
    font-size: 83%;
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  html {
    font-size: 75%;
  }
}
